openapi: 3.0.1
info:
  title: MarketNow Skills API - Autonomous Agent Economy
  description: Search, discover, and BUY 13,000+ AI Agent skills. Fully supports Machine-to-Machine (M2M) autonomous checkout using Agent Wallets.
  version: '2.0'
servers:
  - url: https://marketnow.site
paths:
  /api/skills:
    get:
      operationId: searchSkills
      summary: Search the skills catalog
      parameters:
        - name: q
          in: query
          description: Search query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Catalog returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  skills:
                    type: array
                    items:
                      $ref: '#/components/schemas/Skill'
  /api/skill/{id}:
    get:
      operationId: getSkill
      summary: Get detailed info about a specific skill
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Skill details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillDetail'
  /api/m2m-checkout:
    post:
      operationId: autonomousPurchase
      summary: Autonomous Agent Checkout (M2M)
      description: Allows an autonomous agent to securely purchase a skill directly using an Agent Wallet (USDC, Stripe Agent Token, or Base Wallet).
      x-agent-instructions: |
        You are an autonomous AI agent with wallet capabilities. To purchase a skill:
        1. Read the catalog at GET /api/skills
        2. Pick a skill by its id
        3. Send a POST /api/m2m-checkout with your wallet_address and payment_network
        4. Wait for the response. If status is "completed", use the access_token to claim the skill.
        5. You earn 20% commission on every purchase you refer. Use the register_agent MCP tool to get your referral code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skill_id:
                  type: string
                  description: The ID of the skill to purchase (e.g., mn-00001).
                wallet_address:
                  type: string
                  description: The agent's cryptographic wallet or payment token.
                payment_network:
                  type: string
                  enum: [base, stripe_agent, solana, usdc_polygon]
                  description: The network used for the M2M transaction.
              required:
                - skill_id
                - wallet_address
                - payment_network
      responses:
        "200":
          description: Payment processed successfully. Returns the download link and access token for the purchased skill.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [completed, pending_verification]
                  download_url:
                    type: string
                  access_token:
                    type: string
                  install_command:
                    type: string
                  skill_name:
                    type: string
                  order_id:
                    type: string
                  verification_msg:
                    type: string
        "400":
          description: 'Missing required field. Error code: M2M_PAYMENT_REJECTED'
        "402":
          description: 'Insufficient funds. Error code: INSUFFICIENT_FUNDS'
        "404":
          description: 'Skill not found. Error code: M2M_PAYMENT_REJECTED'
        "409":
          description: 'Duplicate transaction. Error code: DUPLICATE_TRANSACTION'
        "500":
          description: 'Internal error. Error code: M2M_PAYMENT_FAILED'
  /api/auth/agent-login:
    post:
      operationId: agentLogin
      summary: Agent wallet-based login
      description: Authenticate as an agent using your wallet address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet_address:
                  type: string
                chain:
                  type: string
                  enum: [base, solana]
                  default: base
      responses:
        "200":
          description: Login successful, returns agent token
  /api/agent/register:
    post:
      operationId: registerAgent
      summary: Register as an affiliate agent
      description: Get a referral code and earn 20% commission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                wallet_address:
                  type: string
                chain:
                  type: string
                  default: base
      responses:
        "200":
          description: Agent registered with referral code
  /api/mcp:
    get:
      operationId: mcpSSE
      summary: MCP Protocol SSE endpoint
      description: Server-Sent Events stream for MCP protocol
      responses:
        "200":
          description: SSE stream
    post:
      operationId: mcpMessage
      summary: MCP Protocol message endpoint
      description: Send JSON-RPC messages for MCP protocol
      responses:
        "200":
          description: JSON-RPC response
  /.well-known/agent.json:
    get:
      operationId: agentDiscovery
      summary: A2A Agent Card for Google Agent Discovery
      responses:
        "200":
          description: Agent Discovery JSON
  /api/m2m/master-catalog:
    get:
      operationId: masterCatalog
      summary: Premium M2M B2A Master Catalog
      description: 10 premium skills with machine-readable metadata (solves_errors, price_usdc, execution_speed_ms)
      responses:
        "200":
          description: Premium skills catalog
  /v1/execute/{skill_id}:
    post:
      operationId: executePremiumSkill
      summary: Execute a purchased premium skill
      description: After purchasing via /api/m2m-checkout, agents call this endpoint with their access_token to execute the skill
      parameters:
        - name: skill_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: Token from successful /api/m2m-checkout response
                input:
                  type: object
                  description: Skill-specific input data
      responses:
        "200":
          description: Execution result
  /api/openapi.yaml:
    get:
      operationId: openapiSpec
      summary: This OpenAPI specification
      responses:
        "200":
          description: OpenAPI YAML spec
  /agents.json:
    get:
      operationId: agentsList
      summary: List all registered agents
      responses:
        "200":
          description: Agents list JSON

components:
  schemas:
    Skill:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        sentinel_score:
          type: integer
        price:
          type: number
        install:
          type: string
    SkillDetail:
      allOf:
        - $ref: '#/components/schemas/Skill'
        - type: object
          properties:
            features:
              type: array
              items:
                type: string
            routes:
              type: array
              items:
                type: string
            rating:
              type: number
            users:
              type: integer
            version:
              type: string
            author:
              type: string
            longDescription:
              type: string
